h1 {
  font-weight: 300;
  font-size: 67px;
  letter-spacing: -1px;
  line-height: 1.2;
}

h2 {
  font-weight: 300;
  font-size: 37px;
  line-height: 1.1;
  margin-bottom: 10px;
}

h3 {
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -1px;
  line-height: 1.2;
}

h4 {
  font-weight: 400;
  font-size: 22px;
}

h5 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 14px;
}
