<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Staffjoy | App</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="description" content="Staffjoy application for managing scheduling">
    <meta name="application-name" content="Staffjoy"/>
    <meta name="theme-color" content="#FFFFFF">
    <meta property="og:site_name" content="Staffjoy"/>
    <meta property="og:title" content="Staffjoy"/>
    <meta property="og:type" content="website"/>
    <meta property="og:link" content="https://www.staffjoy.xyz"/>
    <meta property="twitter:card" content="summary"/>
    <meta property="twitter:title" content="Staffjoy"/>
    <meta property="twitter:description" content="Share schedules in less time">
    <meta property="twitter:site" content="@staffjoy"/>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
