<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layout}"
      with:includeNavigation="true"
      with:includeFooter="true"
      with:includeScripts="true"
>
<th:block layout:fragment="content">
    <div class="banner">
        <h1>Careers at Staffjoy</h1>
        <h4>Together we can create meaningful change for small businesses</h4>
    </div>

    <div class="workplace thin-line-below">
        <h2>Workplace and Culture</h2>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--6-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet">
                <p>We are located in the historic Fisherman's Wharf in San Francisco. Our team enjoys taking lunch down by waterfront, and being a short walk away from the only In-N-Out burger in the city. Come by and see for yourself!</p>
            </div>
        </div>
        <div class="mdl-grid gallery">
            <div class="faq mdl-cell mdl-cell--4-col mdl-cell--2-offset-desktop">
                <img src="/assets/images/careers/staffjoy-culture.jpg" alt="We like to hang out in the office and have fun. Our friend Gumby sticks around too." />
            </div>
            <div class="faq mdl-cell mdl-cell--4-col">
                <img src="/assets/images/careers/staffjoy-deck.jpg" alt="Our back deck is a great place to catch some sun while working or eating."/>
            </div>
            <div class="faq mdl-cell mdl-cell--4-col mdl-cell--2-offset-desktop" alt="Philip is having a lot of fun coding.">
                <img src="/assets/images/careers/staffjoy-working.jpg" />
            </div>
            <div class="faq mdl-cell mdl-cell--4-col">
                <img src="/assets/images/careers/staffjoy-park.jpg" alt="Being right by the Aquatic Park, there are some great views within a short walk." />
            </div>
        </div>
    </div>

    <div class="benefits thin-line-below max-contained">
        <h2>Benefits</h2>
        <div class="mdl-grid">
            <div class="faq mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
                <div class="benefit">
                    <h4><i class="fa fa-graduation-cap less-margin" aria-hidden="true"></i>Education</h4>
                    <p> Learning is part of our culture, so we encourage employees to take online courses so that they can better accomplish the tasks at hand.</p>
                </div>
            </div>
            <div class="faq mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
                <div class="benefit">
                    <h4><i class="fa fa-cutlery more-margin" aria-hidden="true"></i>Choose your Snack</h4>
                    <p>The Staffjoy team is hungry for both success and snacks! Each team member gets to order a snack of their choice every month.</p>
                </div>
            </div>
            <div class="faq mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
                <div class="benefit">
                    <h4><i class="fa fa-sun-o" aria-hidden="true"></i>Vacation</h4>
                    <p>Unlimited vacation days mean you can take time off and come back fresh.</p>
                </div>
            </div>
            <div class="faq mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
                <div class="benefit">
                    <h4><i class="fa fa-medkit" aria-hidden="true"></i>Healthcare</h4>
                    <p>We may be a small company, but employee health is a top priority. We offer medical, vision, and dental insurance plans.</p>
                </div>
            </div>
            <div class="faq mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
                <div class="benefit">
                    <h4><i class="fa fa-money" aria-hidden="true"></i>Equity</h4>
                    <p>Everybody owns a piece of our success. We offer stock options to all employees.</p>
                </div>
            </div>
            <div class="faq mdl-cell mdl-cell--4-col mdl-cell--6-col-desktop">
                <div class="benefit">
                    <h4><i class="fa fa-bicycle less-margin" aria-hidden="true"></i>Commuter Benefits</h4>
                    <p>We offer pre-tax commuter benefits, and encourage team members to bicycle to work.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="positions max-contained">
        <h2>Open Positions</h2>
        <div class="open-positions mdl-grid">
            <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone mdl-cell--2-offset-desktop">
                <p class="email-us">Don't see a position for you? We are always looking for hard-working, passionate people. Feel free to <a href="mailto:team@staffjoy.com">send us a message</a>!</p>
            </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone mdl-cell--2-offset-desktop">
                <div class="position mdl-card mdl-shadow--2dp">
                    <div class="card-title">
                        <h3 class="position-title">Front-End Engineering Lead</h3>
                        <h5 class="location">San Francisco, CA</h5>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="text-section">
                            <h4>About the Role</h4>
                            <p>We're looking for a front-end software engineer who was written complex web applications featuring hundreds of different views. You will work with our team to design new systems and build Javascript elements, then integrate them with our API. You will work directly with our designer and back-end engineers to build polished and intuitive web applications. We aim to give you the autonomy for ground-up rewrites and improvements to the application. The rest of the team will aid in your decisions, but you will lead these projects.</p>
                        </div>
                        <div class="text-section">
                            <h4>Requirements</h4>
                            <ul>
                                <li>2+ years experience building responsive web applications</li>
                                <li>Javascript expertise</li>
                                <li>Experience with ReactJS and Flux application architecture</li>
                                <li>Experience with linting, unit testing, and browser testing</li>
                                <li>Background in complex client applications containing many (>50) view components</li>
                                <li>Enthusiastic references</li>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="https://staffjoy.typeform.com/to/Ps0krA" target="_blank">Apply Now</a>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-phone mdl-cell--2-offset-desktop">
                <div class="position mdl-card mdl-shadow--2dp">
                    <div class="card-title">
                        <h3 class="position-title">Dev-Ops Engineer</h3>
                        <h5 class="location">San Francisco, CA</h5>
                    </div>
                    <div class="mdl-card__supporting-text">
                        <div class="text-section">
                            <h4>About the Role</h4>
                            <p>We are looking for an experienced software engineer to manage our back-end software systems, ranging from writing code to monitoring production environments. You will work with our team to design new systems, code and test them, then deploy and monitor them. We are looking for a candidate with expertise in distributed systems. You should be familiar or eager to learn our primary tools - Docker, Kubernetes, Bazel, Jenkins, Go, and gRPC.</p>
                            <p>Your responsibilities will include areas such as security, deployment, monitoring, logging, API design, and testing. Within these domains, you will have autonomy and flexibility to carry out experiments and ground-up rewrites. The rest of the team will aid in your decisions, but you will lead these projects.</p>
                        </div>
                        <div class="text-section">
                            <h4>Current Stack</h4>
                            <ul>
                                <li>Monorepo with Bazel build system</li>
                                <li>Continuous integration with Jenkins to Google Cloud</li>
                                <li>Microservice architecture with multiple MySQL and Redis installations</li>
                                <li>Kubernetes for development environments</li>
                                <li>RESTful APIs as a gateway for internal gRPC calls</li>
                                <li>Backend services are primarily written in Go</li>
                                <li>Sophisticated messaging infrastructure for SMS and Email, with the plan to integrate with a variety of other messaging platforms</li>
                                <li>Structured logging and a varity of monitoring tools such as Sentr</li>
                                <li>React Native for iPhone and Android apps</li>
                            </ul>
                        </div>
                        <div class="text-section">
                            <h4>Requirements</h4>
                            <ul>
                                <li>Opinionated approach to modern distributed web application architecture</li>
                                <li>Experience with Docker cluster management, scaling, and monitoring</li>
                                <li>Experience maintaining build and deployment infrastructure</li>
                                <li>Go programming and debugging</li>
                                <li>Designed and managed REST APIs</li>
                                <li>Log management and analysis experience</li>
                                <li>Enthusiastic references</li>
                            </ul>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent" href="https://staffjoy.typeform.com/to/Ps0krA" target="_blank">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>