.footer-cta {
  background: #48b7ab;
  padding: 80px 0 100px;
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  
  h2 {
    margin-bottom: 30px;
  }
  
  .signup-box {
    width: 100%;
    justify-content: center;
  }
}
